<h3>Book List</h3>
<a routerLink="new">➕</a>
<table>
  <tr
    *ngFor="let book of books$ | async; let i = index; let ev = even"
    [ngClass]="{ even: ev }"
  >
    <td>{{ i }}</td>
    <td>{{ book.title }}</td>
    <td>
      <a [routerLink]="book.isbn">{{ book.isbn }}</a>
    </td>
  </tr>
</table>
<hr />
{{ addSomeFun(foo) }}
{{ foo | unicorn }}
<table>
  <tr
    *ngFor="let book of books; let i = index; let ev = even"
    [ngClass]="{ even: ev }"
  >
    <td>{{ i }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.isbn }}</td>
  </tr>
</table>
