<h3>Booklist</h3>
<!-- <table>
  <tr
    *ngFor="
      let book of books;
      let i = index;
      let l = last;
      let e = even;
      let f = first;
      let o = odd
    "
  >
    <td>{{ i }}</td>
    <td>{{ l }}</td>
    <td>{{ e }}</td>
    <td>{{ f }}</td>
    <td>{{ o }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.isbn }}</td>
  </tr>
</table> -->
<input type="text" (input)="searchStr = $event.target.value" />
<table *ngIf="books$">
  <tr>
    <td></td>
    <td></td>
    <td><a routerLink="new">➕</a></td>
  </tr>
  <tr *ngFor="let book of books$ | async | search: searchStr">
    <td>{{ book.title }}</td>
    <td>{{ book.isbn }}</td>
    <td><a [routerLink]="[book.isbn]">👁</a></td>
    <td><button (click)="delete(book.isbn)">X</button></td>
  </tr>
  <hr />
</table>
<h1>{{ "1.2345" | currency: "EUR" }}</h1>
<pre>{{ books$ | async | json }}</pre>
