<form *ngIf="book$ | async as book" #form="ngForm" (ngSubmit)="save(book)">
  <input
    type="text"
    [(ngModel)]="book.title"
    name="title"
    #title="ngModel"
    required
  />
  <span [hidden]="!title.errors?.required || !title.touched">🎄</span>
  <input
    type="text"
    [(ngModel)]="book.abstract"
    [ngModelOptions]="{ updateOn: 'blur' }"
    name="abstract"
    required
  />
  <span
    [hidden]="
      !form.controls.abstract?.errors?.required ||
      !form.controls.abstract?.touched
    "
    >🎅</span
  >
  <input type="text" [(ngModel)]="book.author" name="author" required />
  <span
    [hidden]="
      !form.controls.author?.errors?.required || !form.controls.author.touched
    "
    >🐵</span
  >
  <hr />
  <pre>{{ form.value | json }}</pre>
  <hr />
  <pre>{{ book | json }}</pre>
  <button type="submit" [disabled]="!form.valid">💾</button>
</form>
